


<section class="about_us_section">
      <div class="about_us_container">
        <div class="about_us_top">
          <h1>Haqqımızda</h1>
          <p>
            1996- cı ildə fəliyyətə başlayan İlk yerli mebel brendi olan
            Embawood müştəri yönümlü strategiyasını özünün əsas prinsipi olaraq
            seçmiş və bu istiqamətdə əsaslı işləri görməyə davam edir. Mebeldə
            arzulanan tərzi duya bilmək üçün keyfiyyət sistemini yeniləyərək,
            xidmət səviyyəsini daha yüksək pilləyə qaldırmışdır. Şirkət
            qarşısına qoyduğu bütün məqsədlərə çatmaq üçün məhsul portfelində
            çeşid çoxluğu, müasir və dəbdəbəli dizayn, keyfiyyətə nəzarət,
            satışdan sonrakı xidmət, müştəri yönümlülük kimi prinsipləri əsas
            meyar olaraq seçmişdir. Embawood MMC Bakı şəh., Yasamal ray., Bəsti
            Bağırova küç., 15A, (1) ünvanda 6400009481 qeydiyyatlı VÖEN altında
            fəaliyyət göstərir. Azərbaycanın Masallı, Xırdalan və Sumqayıt
            şəhərlərində, həmçinin Ukrayna , Qazaxıstan, Gürcüstan kimi
            ölkələrdə şirkətin toplam olaraq 7 fabriki fəaliyyətni davam
            etdirir. Bundan əlavə, adıçəkilən ölkələrdə Embawood brendinin
            mağazaları mövcuddur.
          </p>
        </div>
        <div class="about_us_bottom">
          <h1>Tariximiz</h1>
          <p>
            Bu period ərzində şirkətin tarixində baş vermiş əhəmiyyətli
            hadisələr:
            <br />
            1996-cı il -Masallıda istehsalın qurulması;
            <br />
            2000-ci il - Xırdalanda ikinci fabrikin açılması;
            <br />
            2000-ci il - Ev mebeli ilə yanaşı İdeal Dizayn adlı ofis mebeli
            brendinin açılması;
            <br />
            2002-ci il - Embawood brendinin bazara çıxarılması;
            <br />
            2004-cü il - İSO 9001:2000 Beynəlxalq “Keyfiyyətin İdarə Edilməsi
            Sistemi” üzrə sertifikatın alınması;
            <br />
            2005-ci il - Regional anbarların qurulması;
            <br />
            2006- cı il - Tiflis şəhərində daha bir fabrikin açılması,
            <br />
            2007-ci il - İlk mağazanın açılması, pərakəndə satışın əsasının
            qoyulması;
            <br />
            2008-ci il - Xarici bazarlarda bazar payının götürülməsi;
            <br />
            2009-cu il - MDB məkanında ilk EN standartları ilə fəaliyyət
            göstərən Keyfiyyət sınaq laboratoriyasının qurulması;
            <br />
            2010-cu il - Ukraynanın qərbində, Samborda fabrik açıldı
            <br />
            2010-cu il - İkinci ev mebeli brendi - Madeyranın, döşək brendi -
            Dolce Nochenin bazara çıxarılması
            <br />
            2011- ci il Embawood brendi rebranding etdi
            <br />
            2014 - ci il Qazaxıstan mebel fabrikinin açılması
            <br />
            2015- ci il OHSAS 18001 .2007 Ətraf mühit və təhlükəsizlik üzrə
            sertifikatın alınması
            <br />
            2015- ci il İSO 14001 ..2004 Beynəlxalq “Keyfiyyətin İdarə Edilməsi
            Sistemi” üzrə sertifikatın alınması;
            <br />
            2015 - ci il Memarlıq və İnşaat üniveristeti ilə Embawood şirkəti
            arasında Memorandum imzalanması
            <br />
            2016- cı il Şirkət daxilində Müşahidə Şurasının Yaradılması.
            Şirkətin CEO tərəfində idarə edilməsi.
            <br />
            2017 - ci il Memarlıq və İnşaat üniversitetində Embawood
            emalatxanasının qurulması
            <br />
            2017 - ci il Şirkət təsisçisi Elşad Abbasovun Tərəqqi medalı ilə
            təltif edilməsi.
          </p>
        </div>
      </div>
    </section>