
<section class="login_section">
      <div class="login_container">

          <div class="card-body">
                    <h2 class="title">Link emaile gonderilib.!</h2>
                    <div class="alert alert-warning" role="alert">
                        E-mail'e gelmis linki klik edin ve yeni sifrenizi girin.
         </div>
      </div>
 </section>