@model ForgotPasswordDto


<section class="login_section">
      <div class="login_container">
        <h1>Hesabınıza daxil olun</h1>
        <div class="login_bottom">

            <div asp-validation-summary="All" style="color: red">

            </div>

            <form asp-action="ForgotPassword" asp-controller="Account" method="post">

                <input asp-for="Email" placeholder="Email" type="email" />

               @* <div>
                  <input type="checkbox"/>
                  <p>Girişi yadda saxla</p>
                </div>*@

                <button type="submit">Giriş</button>
            </form>
          
          <p>
            Hesabınız yoxdur?
            <a asp-action="Register" asp-controller="Account">Qeydiyyatdan keçin</a>
          </p>
        </div>
      </div>
    </section>