


<section class="login_section">
      <div class="login_container">
        <h1>Ugurlu!</h1>
        <div class="login_bottom">

               <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Tamamlandi.!</h2>
                    <div class="alert alert-warning" role="alert">
                        Sifreniz ugurla deyisdirilmisdir. Hesab'a giris etmek ucun: <a asp-action="Login" asp-controller="Account" asp-area="">"Login"</a> kecid edin...
                    </div>
                </div>
            </div>
         
        </div>
      </div>
    </section>