
<form asp-action="AllList" asp-controller="Product" asp-area="">
<div class="search">
     <input type="text" name="search" placeholder="Eviniz üçün nə axtarırsınız?" id="input" />
     <i class="fa-solid fa-magnifying-glass"></i>
</div>
</form>
